In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

#Importing the dataset
df = pd.read_csv("Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [2]:
df.loc[df["Species"] == "Iris-setosa", "Species"] = 0
df.loc[df["Species"] == "Iris-virginica", "Species"] = 2
df.loc[df["Species"] == "Iris-versicolor", "Species"] = 1

df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0      1            5.1           3.5            1.4           0.2       0
1      2            4.9           3.0            1.4           0.2       0
2      3            4.7           3.2            1.3           0.2       0
3      4            4.6           3.1            1.5           0.2       0
4      5            5.0           3.6            1.4           0.2       0
..   ...            ...           ...            ...           ...     ...
145  146            6.7           3.0            5.2           2.3       2
146  147            6.3           2.5            5.0           1.9       2
147  148            6.5           3.0            5.2           2.0       2
148  149            6.2           3.4            5.4           2.3       2
149  150            5.9           3.0            5.1           1.8       2

[150 rows x 6 columns]

In [4]:
x = df.iloc[:,[1,2,3,4]].values
y = df.iloc[:,5].values
y=y.astype('int')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

model = LogisticRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

y_test = pd.Series(y_test, name='Actual')
y_pred = pd.Series(y_pred, name='Predicted')
df_confusion = pd.crosstab(y_test, y_pred)

df_confusion

Predicted   0   1  2
Actual
0          13   0  0
1           0  15  1
2           0   0  9

In [6]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[13,  0,  0],
       [ 0, 15,  1],
       [ 0,  0,  9]], dtype=int64)

In [9]:
accuracy = (cm[0,0]+cm[1,1]+cm[2,1]+cm[1,2]+cm[2,2])/(cm[0,0]+cm[1,1]+cm[1,0]+cm[0,1]+cm[0,2]+cm[1,2]+cm[2,2]+cm[2,0]+cm[2,1]) #in a multi-dimensional array, items can be accessed using a comma-separated tuple of indices
accuracy

1.0

In [10]:
precision = cm[0,0]/(cm[0,0]+cm[1,0]+cm[2,0])
precision

1.0

In [11]:
recall = cm[0,0]/(cm[0,0]+cm[0,1]+cm[0,2])
recall

1.0